html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {

    margin: 0;
    
    padding: 0;
    
    }
    
    *{box-sizing: border-box;}
    
    
    body {
    
    font-family: "Microsoft YaHei";
    
    font-size:14px;
    
    
    }
    
    
    ul,ol {
    
    list-style: none;
    
    }
    
    img {
    
    border: none;
    
    vertical-align: middle;
    
    }
    
    a {
    
    text-decoration: none;
    
    color: #232323;
    
    }
    
    table {
    
    border-collapse: collapse;
    
    table-layout: fixed;
    
    }
    
    input, textarea {
    
    outline: none;
    
    border: none;
    
    }
    
    textarea {
    
    resize: none;
    
    overflow: auto;
    
    }
    
    .clearfix {
    
    zoom: 1;
    
    }
    
    .clearfix:after {
    
    content: ".";
    
    width: 0;
    
    
    visibility: hidden;
    
    display: block;
    
    clear: both;
    
    overflow:hidden;
    
    }
    
    .fl {
    
    float: left
    
    }
    
    .fr {
    
    float: right
    
    }
    
    .tl {
    
    text-align: left;
    
    }
    
    .tc {
    
    text-align: center
    
    }
    
    .tr {
    
    text-align: right;
    
    }
    
    .ellipse {
    
    overflow: hidden;
    
    text-overflow: ellipsis;
    
    white-space: nowrap;
    
    }
    
    .inline{
    
    display: inline-block;
    
    *display: inline;
    
    *zoom: 1;
    
    }

    .unselectable {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    img{
        -webkit-user-drag: none;
    }
    .shenglue{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .shenglue2{
        overflow: hidden;
        white-space: nowrap;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }
    body{
        min-width: 600px;
    }