@font-face {
  font-family: "iconfont"; /* Project id 3925341 */
  src: url('iconfont.woff2?t=1678108595497') format('woff2'),
       url('iconfont.woff?t=1678108595497') format('woff'),
       url('iconfont.ttf?t=1678108595497') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e646";
}

.icon-yasuowenjian:before {
  content: "\e6bd";
}

.icon-a-41yinlewenjian_file-music:before {
  content: "\ecf7";
}

.icon-PDF:before {
  content: "\e626";
}

.icon-Excel:before {
  content: "\e998";
}

.icon-Word:before {
  content: "\e99a";
}

.icon-ppt:before {
  content: "\e943";
}

.icon-daima:before {
  content: "\e622";
}

.icon-youjiantou:before {
  content: "\e617";
}

.icon-txt:before {
  content: "\e613";
}

.icon-yinlewenjian:before {
  content: "\e6ff";
}

.icon-pdf:before {
  content: "\e61b";
}

.icon-morenwenjianjia:before {
  content: "\e6ea";
}

.icon-liebiao1:before {
  content: "\e602";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-tubiao:before {
  content: "\e648";
}

.icon-search:before {
  content: "\e68c";
}

.icon-caidan:before {
  content: "\e60c";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-iconfontzhizuobiaozhun023108:before {
  content: "\e66e";
}

.icon-huishouzhan:before {
  content: "\e61a";
}

.icon-wenjian1:before {
  content: "\e618";
}

.icon-mimaxiang:before {
  content: "\e6f8";
}

.icon-xiangce:before {
  content: "\e65b";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-shipin:before {
  content: "\e678";
}

.icon-xinjianwenjian:before {
  content: "\e699";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-shangchuan:before {
  content: "\e876";
}

.icon-daimashili:before {
  content: "\e62c";
}

.icon-xinjianwenjianjia:before {
  content: "\e636";
}

.icon-wenjian:before {
  content: "\e601";
}

.icon-tupian_huaban:before {
  content: "\e62d";
}

.icon-word:before {
  content: "\e892";
}

.icon-wenjianyidong:before {
  content: "\e7d9";
}

.icon-wangpan:before {
  content: "\e68e";
}

.icon-shouye-zhihui:before {
  content: "\e61d";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-a-fenxiang2:before {
  content: "\e620";
}

.icon-a-xiala2:before {
  content: "\e621";
}

